.circular{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: inline-block;
}
.no-list{
    margin-top: 120px;
    list-style: none !important;
}
.no-list .li{
    list-style: none !important;
}
body,html{
    text-align: center;
    background-color: #eee;
    margin: 0px;
}